In [82]:
import json

with open('dataviz/matches_Spain.json') as f:
    matches = json.load(f)
teams={}
with open('dataviz/teams.json') as f:
    team = json.load(f)
    for item in team:
        teams[str(item['wyId'])] = item

In [83]:
sorted_matches=sorted(matches, key = lambda i: i['dateutc'])
#datetime.strptime(alert['alert_date'], "%Y-%m-%d %H:%M:%S")
'''
from datetime import datetime
for match in matches:
    match['date'] = datetime.strptime(' '.join(match['date'].split(' ')[0:3]),"%B %d, %Y")
'''

'\nfrom datetime import datetime\nfor match in matches:\n    match[\'date\'] = datetime.strptime(\' \'.join(match[\'date\'].split(\' \')[0:3]),"%B %d, %Y")\n'

In [84]:
#sorted_matches

In [85]:
#Find number of teams playing in the tournament
unique_teams={}
for match in matches:
    for team_id in list(match['teamsData'].keys()):
        unique_teams[str(team_id)]=1

In [86]:
list(unique_teams.keys())

['676',
 '687',
 '679',
 '701',
 '691',
 '678',
 '674',
 '677',
 '675',
 '682',
 '696',
 '680',
 '698',
 '683',
 '714',
 '756',
 '684',
 '712',
 '692',
 '695']

In [87]:
import pandas as pd

matches_df=pd.DataFrame()

In [88]:
win_points=3
draw_points=1
loose_points=0

In [89]:
home_team=[]
home_goals=[]
away_team=[]
away_goals=[]
date2=[]
team=[]
week=[]
points=[]

for team_id in list(unique_teams.keys()):
    #print(team_id)
    team_points=[]
    cur_week=1
    for match in sorted_matches:
        teams_list=list(match['teamsData'].keys())
        
        #print(teams_list)
        #print(team_id)
        if team_id in teams_list:
            #print(team_id)
            #print(teams[teams_list[0]]['name'])
            
            if match['teamsData'][teams_list[0]]['side'] == 'home':
                home_team.append(str(teams[teams_list[0]]['name']))
                home_goals.append(match['teamsData'][teams_list[0]]['score'] + match['teamsData'][teams_list[0]]['scoreP'])
                away_team.append(teams[teams_list[1]]['name'].encode("utf-8").decode("utf-8"))
                away_goals.append(match['teamsData'][teams_list[1]]['score'] + match['teamsData'][teams_list[1]]['scoreP'])
            else:
                home_team.append(teams[teams_list[1]]['name'])
                home_goals.append(match['teamsData'][teams_list[1]]['score'] + match['teamsData'][teams_list[1]]['scoreP'])
                away_team.append(teams[teams_list[0]]['name'].encode("utf-8").decode("utf-8"))
                away_goals.append(match['teamsData'][teams_list[0]]['score'] + match['teamsData'][teams_list[0]]['scoreP'])
                
            date2.append(match['dateutc'])
            team.append(teams[team_id]['name'].encode("utf-8").decode("utf-8"))
            week.append(cur_week)
            cur_week=cur_week+1
            
            if len(team_points) == 0:
                if match['winner'] == int(team_id):
                    team_points.append(win_points)
                elif match['winner'] == 0:
                    team_points.append(draw_points)
                else:
                    team_points.append(loose_points)
            
            else:
                if match['winner'] == int(team_id):
                    team_points.append(team_points[-1]+win_points)
                elif match['winner'] == 0:
                    team_points.append(team_points[-1]+draw_points)
                else:
                    team_points.append(team_points[-1]+loose_points)
                
            
        else:
            continue
    
    points = points + team_points

In [90]:
for cur_index, item in enumerate(team):
    if item == 'Atl\\u00e9tico Madrid':
        team[cur_index]='Atletico Madrid'
    if item == 'Deportivo La Coru\\u00f1a':
        team[cur_index]='Deportivo La Coruna'
    if item == 'Deportivo Alav\\u00e9s':
        team[cur_index]='Deportivo Alaves'
    if item == 'M\\u00e1laga':
        team[cur_index]='Malaga'
    if item == 'Legan\\u00e9s':
        team[cur_index]='Leganes'

for cur_index, item in enumerate(home_team):
    if item == 'Atl\\u00e9tico Madrid':
        home_team[cur_index]='Atletico Madrid'
    if item == 'Deportivo La Coru\\u00f1a':
        home_team[cur_index]='Deportivo La Coruna'
    if item == 'Deportivo Alav\\u00e9s':
        home_team[cur_index]='Deportivo Alaves'
    if item == 'M\\u00e1laga':
        home_team[cur_index]='Malaga'
    if item == 'Legan\\u00e9s':
        home_team[cur_index]='Leganes'
    
for cur_index, item in enumerate(away_team):
    if item == 'Atl\\u00e9tico Madrid':
        away_team[cur_index]='Atletico Madrid'
    if item == 'Deportivo La Coru\\u00f1a':
        away_team[cur_index]='Deportivo La Coruna'
    if item == 'Deportivo Alav\\u00e9s':
        away_team[cur_index]='Deportivo Alaves'
    if item == 'M\\u00e1laga':
        away_team[cur_index]='Malaga'
    if item == 'Legan\\u00e9s':
        away_team[cur_index]='Leganes'

In [91]:
matches_df['home_team']=home_team
matches_df['home_goals']=home_goals
matches_df['away_team']=away_team
matches_df['away_goals']=away_goals
matches_df['date2']=date2
matches_df['team']=team
matches_df['week']=week
matches_df['points']=points

In [92]:
matches_df

,home_team,home_goals,away_team,away_goals,date2,team,week,points
0,Barcelona,2,Real Betis,0,2017-08-20 18:15:00,Barcelona,1,3
1,Deportivo Alaves,0,Barcelona,2,2017-08-26 16:15:00,Barcelona,2,6
2,Barcelona,5,Espanyol,0,2017-09-09 18:45:00,Barcelona,3,9
3,Getafe,1,Barcelona,2,2017-09-16 14:15:00,Barcelona,4,12
4,Barcelona,6,Eibar,1,2017-09-19 20:00:00,Barcelona,5,15
5,Girona,0,Barcelona,3,2017-09-23 18:45:00,Barcelona,6,18
6,Barcelona,3,Las Palmas,0,2017-10-01 14:15:00,Barcelona,7,21
7,Atletico Madrid,1,Barcelona,1,2017-10-14 18:45:00,Barcelona,8,22
8,Barcelona,2,Malaga,0,2017-10-21 18:45:00,Barcelona,9,25
9,Athletic Club,0,Barcelona,2,2017-10-28 18:45:00,Barcelona,10,28
10,Barcelona,2,Sevilla,1,2017-11-04 19:45:00,Barcelona,11,31
11,Leganes,0,Barcelona,3,2017-11-18 15:15:00,Barcelona,12,34
12,Valencia,1,Barcelona,1,2017-11-26 19:45:00,Barcelona,13,35
13,Barcelona,2,Celta de Vigo,2,2017-12-02 12:00:00,Barcelona,14,36
14,Villarreal,0,Barcelona,2,2017-12-10 19:45:00,Barcelona,15,39
15,Barcelona,4,Deportivo La Coruna,0,2017-12-17 19:45:00,Barcelona,16,42
16,Real Madrid,0,Barcelona,3,2017-12-23 12:00:00,Barcelona,17,45
17,Barcelona,3,Levante,0,2018-01-07 15:15:00,Barcelona,18,48
18,Real Sociedad,2,Barcelona,4,2018-01-14 19:45:00,Barcelona,19,51
19,Real Betis,0,Barcelona,5,2018-01-21 19:45:00,Barcelona,20,54
20,Barcelona,2,Deportivo Alaves,1,2018-01-28 19:45:00,Barcelona,21,57
21,Espanyol,1,Barcelona,1,2018-02-04 15:15:00,Barcelona,22,58
22,Barcelona,0,Getafe,0,2018-02-11 15:15:00,Barcelona,23,59
23,Eibar,0,Barcelona,2,2018-02-17 15:15:00,Barcelona,24,62
24,Barcelona,6,Girona,1,2018-02-24 19:45:00,Barcelona,25,65
25,Las Palmas,1,Barcelona,1,2018-03-01 20:00:00,Barcelona,26,66
26,Barcelona,1,Atletico Madrid,0,2018-03-04 15:15:00,Barcelona,27,69
27,Malaga,0,Barcelona,2,2018-03-10 19:45:00,Barcelona,28,72
28,Barcelona,2,Athletic Club,0,2018-03-18 15:15:00,Barcelona,29,75
29,Sevilla,2,Barcelona,2,2018-03-31 18:45:00,Barcelona,30,76
...,...,...,...,...,...,...,...,...
730,Levante,1,Getafe,1,2017-10-21 11:00:00,Levante,9,11
731,Eibar,2,Levante,2,2017-10-29 17:30:00,Levante,10,12
732,Levante,1,Girona,2,2017-11-05 11:00:00,Levante,11,12
733,Las Palmas,0,Levante,2,2017-11-19 17:30:00,Levante,12,15
734,Levante,0,Atletico Madrid,5,2017-11-25 19:45:00,Levante,13,15
735,Malaga,0,Levante,0,2017-12-01 20:00:00,Levante,14,16
736,Levante,1,Athletic Club,2,2017-12-10 17:30:00,Levante,15,16
737,Sevilla,0,Levante,0,2017-12-15 20:00:00,Levante,16,17
738,Levante,0,Leganes,0,2017-12-19 20:30:00,Levante,17,18
739,Barcelona,3,Levante,0,2018-01-07 15:15:00,Levante,18,18
740,Levante,0,Celta de Vigo,1,2018-01-14 11:00:00,Levante,19,18
741,Villarreal,2,Levante,1,2018-01-20 17:30:00,Levante,20,18
742,Deportivo La Coruna,2,Levante,2,2018-01-27 12:00:00,Levante,21,19
743,Levante,2,Real Madrid,2,2018-02-03 19:45:00,Levante,22,20
744,Valencia,3,Levante,1,2018-02-11 19:45:00,Levante,23,20
745,Real Sociedad,3,Levante,0,2018-02-18 11:00:00,Levante,24,20
746,Levante,0,Real Betis,2,2018-02-26 20:00:00,Levante,25,20
747,Deportivo Alaves,1,Levante,0,2018-03-01 20:30:00,Levante,26,20
748,Levante,1,Espanyol,1,2018-03-04 11:00:00,Levante,27,21
749,Getafe,0,Levante,1,2018-03-10 17:30:00,Levante,28,24
750,Levante,2,Eibar,1,2018-03-16 20:00:00,Levante,29,27
751,Girona,1,Levante,1,2018-03-31 11:00:00,Levante,30,28
752,Levante,2,Las Palmas,1,2018-04-08 10:00:00,Levante,31,31
753,Atletico Madrid,3,Levante,0,2018-04-15 14:15:00,Levante,32,31
754,Levante,1,Malaga,0,2018-04-19 19:30:00,Levante,33,34
755,Athletic Club,1,Levante,3,2018-04-23 19:00:00,Levante,34,37
756,Levante,2,Sevilla,1,2018-04-27 19:00:00,Levante,35,40
757,Leganes,0,Levante,3,2018-05-07 19:00:00,Levante,36,43
758,Levante,5,Barcelona,4,2018-05-13 18:45:00,Levante,37,46
759,Celta de Vigo,4,Levante,2,2018-05-19 11:00:00,Levante,38,46

In [93]:
matches_df.to_csv("spain.csv")